main
    .container
        .m_slider
            -for(var ms=1;ms<=3;ms++)
                .m_slider_item(style="background-image: url(img/m_slider-min.png)")
                    .center
                        .m_slider_item_content
                            .title Название слайда #{ms}
                            .desc
                                p Здесь небольшой текст описание (не больше 2-х строк) небольшой текст описание
                            a.btn_default(href="#") Подробнее



        .download_price
            .text
                .h3 Скачайте наш прайс!
                p Чтобы подробнее ознакомиться с продукцией, которую мы предлагаем
            a.btn_default.download(href="#")
                span Скачать прайс
        -var pr=['Первый поставщик','Бесплатная доставка','Выгодные покупки','Гарантия товар'];
        .row.adv
            for adv_item, index in pr
                .col-12.col-sm-6.col-md-4.col-xl-3
                    .adv_item
                        picture
                            img.img_default(src="img/pr_"+index+".svg")
                            img.img_hover(src="img/pr_"+index+"_hover.svg")
                        .text
                            p=adv_item
                            span Описание преимущества


        .product_tabs
            ul.nav(role="tablist")
                li.nav-item
                    a.nav-link.active(href="#tab1" id="tab1-link" role="tab" data-toggle="tab" aria-controls="tab1" aria-expanded="true") Новинки
                li.nav-item
                    a.nav-link(href="#tab2" id="tab2-link" role="tab" data-toggle="tab" aria-controls="tab2" aria-expanded="true") Акции
                li.nav-item
                    a.nav-link(href="#tab3" id="tab-link" role="tab" data-toggle="tab" aria-controls="tab3" aria-expanded="true") Рекомендуем

            .tab-content.product_tabs_content
                #tab1.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="tab1-link")
                    .products_list
                        -for(var p1=1;p1<=4;p1++)
                            .product_item
                                .label Новинка!
                                .img_thumbnail
                                    a(href="#")
                                        img(src="img/image5.png")
                                a.product_item_name(href="#") Название товара #{p1}
                                .amount_price
                                    .amount
                                        span.down -
                                        input(type="text" value="1")
                                        span.up +
                                    .price 1200 РУБ.
                                .btn_group
                                    a.btn_default(href="#") Подробнее
                                    a.btn_small.add_to_compare(href="#")
                                    a.btn_small.add_to_cart(href="#")

                #tab2.tab-pane.fade(role="tabpanel" aria-labelledby="tab2-link")
                    .products_list
                        -for (var p1 = 1; p1 <= 4; p1++)
                            .product_item
                                .label Акция!
                                .img_thumbnail
                                    a(href="#")
                                        img(src="img/image5.png")
                                a.product_item_name(href="#") Название товара #{p1}
                                .amount_price
                                    .amount
                                        span.down -
                                        input(type="text" value="1")
                                        span.up +
                                    .price 1200 РУБ.
                                .btn_group
                                    a.btn_default(href="#") Подробнее
                                    a.btn_small.add_to_compare(href="#")
                                    a.btn_small.add_to_cart(href="#")
                #tab3.tab-pane.fade(role="tabpanel" aria-labelledby="tab3-link")
                    .products_list
                        -for (var p1 = 1; p1 <= 4; p1++)
                            .product_item
                                .label Рекомендуем!
                                .img_thumbnail
                                    a(href="#")
                                        img(src="img/image5.png")
                                a.product_item_name(href="#") Название товара #{p1}
                                .amount_price
                                    .amount
                                        span.down -
                                        input(type="text" value="1")
                                        span.up +
                                    .price 1200 РУБ.
                                .btn_group
                                    a.btn_default(href="#") Подробнее
                                    a.btn_small.add_to_compare(href="#")
                                    a.btn_small.add_to_cart(href="#")
        -var catalog=['Ноутбуки','Моноблоки','Планшеты / Электронные книги','Программные продукты','ПЭВМ – Компьютер в сборе','Серверы','Сканеры','Плоттеры','Принтеры','МФУ','Аксессуары для ноутбуков','Источники Бесперебойного Питания и фильтры','Мониторы/ТВ/Проекторы/Проекционные экраны','Сетевое оборудование','Компьютерные комплектующие','USB и SD накопители/MP3 плееры/Картридеры','Клавиатуры','Мыши/Манипуляторы','Шредер, Ламинатор, Факс, Телефоны','Картриджи/Бумага','Акустика','Наушники/Диктофоны/Микрофоны/Геймпады/Приставки','Фотокамеры/Видеокамеры/Веб-камеры','Батарейки/Аккумуляторы/Зарядные','Смартфоны','Аксессуары для смартфонов','Кабеля/Разное','Калькулятор','Экосистема']
        .main_catalog
            .h2 Каталог продукции

            .category_list
                for c_item, index in catalog
                    .category_list_item
                        picture
                            img(src="img/icons/c_"+index+".svg")

                        div
                            a.category_title(href="#")=c_item
                            if index===5 || index===6 || index===7 || index===8 || index===9 || index===10 || index===11
                                ul.subcategory_list
                                    -for(var sb=1;sb<=5;sb++)
                                        li.item
                                            a(href="#") Подкатегория <span>/<span>
                            else if index===12
                                ul.subcategory_list
                                    -for (var sb = 1; sb <= 10; sb++)
                                        li.item
                                            a(href="#") Подкатегория <span>/<span>
                            else if index===13 || index===14 || index===15 || index===16 || index===17
                                ul.subcategory_list
                                    -for (var sb = 1; sb <= 3; sb++)
                                        li.item
                                            a(href="#") Подкатегория <span>/<span>

    .main_about
        .container
            .row
                .col-12.col-md-6
                    img(src="img/Screenshot_1.png")
                .col-12.col-md-6.d-flex.align-items-center
                    div
                        .h1 Информация о нас
                        .desc
                            p <strong>Нам 15 лет.</strong> Компания ТехноБай входит в лидеры продаж компьютерной, периферийной  и офисной техники на рынке Республики Беларусь. В число наших партнеров входят мировые лидеры it-индустрии: HP, Lenovo, Samsung,Acer, Dell, Canon, Kyocera, Epson, BenQ, Philips, Toshiba, Logitech, LG, APC, Kaspersky , ASUS, Trancend, Targus.

                        a.btn_default(href="#") Подробнее









